@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

a:link {
  text-decoration: none;
}
body { 
	font-family: montserrat
}
.topnav {
  overflow: hidden;
  background-color: #D90000;
}
.topnav a {
  color: #fff;
  text-align: center;
  padding: .5em .5em .5em .5em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;
  float: left;
}
#homelink {
  padding: .5em 1.5em .5em 1.5em;
}
#buyselltrade {
  text-align: center;
  float: right;
}
#buy {
  padding: .5em 4.75em .5em 4.75em;
}
#sell {
  padding: .5em 4.75em .5em 4.75em;
}
#trade {
  padding: .5em 4.75em .5em 4.75em;
}
a {
  color: #D90000;
}
.topnav a:hover {
  background-color: #000000
}
.deer {
  width: 800px;
  padding: 1em 0 1em 3em;
}
h1 {
  font-family: montserrat;
  color: black;
  font-size: 7em;
  line-height: 1em;
  font-weight: 900;
  float: right;
  clear: both;
  position: absolute;
  top: .5em;
  left: 6.75em;
}
h2 {
  font-family: montserrat;
  font-size: 1.5em;
  font-weight: normal;
  float: right;
  clear: both;
  position: absolute;
  top: 20em;
  left: 32em;
}
#topthreelinks {
 list-style-type: none;
 text-decoration: none;
 color: #D90000;
 font-size: 5em;
 font-weight: 900;
 float: right;
 position: absolute;
 top: 6.5em;
 left: 9em;
 line-height: 1.25em;
 }
#topthreelinks a:hover {
  color: #000000;
}
h3 {
  font-family: montserrat;
  color: white;
  font-size: 2em;
  background-color: #D90000;
  padding: .25em .25em .25em 1em;
  font-weight: 900
}
h4 {
  font-family: montserrat;
  font-size: 1em;
  font-weight: bold;
  line-height: 0;
  margin-top: 7px;
}
p {
  font-family: montserrat;
  font-size: 1em;
  line-height: 2px;
  padding-bottom: 3em;
}
s {
  color: black;
}
.price {
  color: #D90000
}
.saleproducts {
width: 100%;
column-count: 4;
padding: 40px;
}
#stickers {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#hula {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#trafficcone {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#fingerboards {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#fingerboards {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#lego {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#nestingdolls {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#pins {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#pencileraser {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#skater {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#tireguy {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#trophy {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
#candle {
  width: 240px;
  border: 1px solid;
  border-color: black;
}
.newproducts {
width: 100%;
column-count: 4;
padding: 40px;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 300px;
   background-color: black;
   color: white;
   text-align: left;
   column-count: 3;
/*   column-rule-style: solid;
   column-rule-width: 1px;
   column-rule-color: white;
   */
}
h5 {
  font-size: 1em;
  color: #D90000;
  font-weight: 800;
  padding-left: 50px;
  line-height: 2em;
  margin-bottom: .5em;
}
.about {
  font-size: 13px;
  line-height: 2em;
  padding-left: 50px;
  margin-bottom: -5px;
  margin-top: -5px;
}
#copyright {
  font-size: 13px;
  padding-left: 50px;
  margin-top: 70px;
}
#signup {
  font-size: 13px;
  line-height: 1.5em;
  padding-top: 50px;
  margin-bottom: -30px;
}
.email {
  width: 15em;
  padding-left: 3em;
  align-content: center;
  margin-bottom: -5px;
}
#footerlinks {
  list-style-type: none;
  text-decoration: none;
  line-height: 3em;
  padding-left: 10em;
}
#instagram {
  width: 2.5em;
  padding: 5em 0 0 0;
}
#facebook {
  width: 2.5em;
  padding: 0em .5em 0em .5em;
}
#twitter {
  width: 2.5em;
  padding: 0;
}




